@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background: linear-gradient(to bottom, #6e43a3, #4e1186);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.login-container {
  background: linear-gradient(to bottom, #fff, #f2e6ff);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
  color: #00ff00;
  margin-bottom: 30px;
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #6e43a3;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4e1186;
}

#error-message {
  color: #ff0000;
  margin-bottom: 10px;
}

.success {
  color: #00ff00;
}

.error {
  color: #ff0000;
}

.social-media-buttons {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .login-container {
    padding: 20px;
  }

  h2 {
    font-size: 24px;
  }

  input[type="text"],
  input[type="password"] {
    margin-bottom: 15px;
  }

  button {
    padding: 8px 16px;
  }
}
